<header id="fastask-header" class="principal-header">
    <img src="/assets/Logo.svg" alt="Logotipo">
    <div class="header-items">
        <ul class="header-icons">
            <li class="icon-item">
                <a href="#">
                    <img src="/assets/Notification.svg" alt="Sino de notificacao">
                </a>
            </li>
            <li class="icon-item">
                <img src="/assets/Darkmode.svg" alt="Icon dark mode">
            </li>
        </ul>
    </div>
</header>