<aside id="tasks-lists" class="tasks-lists">
  <div class="principal-list">
    <h5 class="list-title">Tarefas</h5>
    <ul class="items-principal-list">
      <li class="item-list items-principal__item">
        <p class="item-principal-text">Hoje</p>
      </li>
      <li class="item-list items-principal__item">
        <p class="item-principal-text">Tarefas 7 Dias</p>
      </li>
    </ul>
  </div>
  <div class="secondary-list">
    <div class="secondary-list__add_new_list">
      <h5 class="list-title">Listas</h5>
      <button class="item-list" id="add-new-list">+</button>
    </div>
    <ul id="user-cards"></ul>
  </div>
</aside>