<aside id="task-lists" class="task-lists">
  <div class="principal-list">
    <h5 class="list-title">Tarefas</h5>
    <ul class="items-principal-list">
      <li class="card-list">
        <p class="card-list-text">Hoje</p>
      </li>
      <li class="card-list">
        <p class="card-list-text">Tarefas 7 Dias</p>
      </li>
    </ul>
  </div>
  <div class="secondary-list">
    <div class="secondary-list__add_new_list">
      <h5 class="list-title">Listas</h5>
      <button id="add-new-card">+</button>
    </div>
  </div>
</aside>