aside {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.task-lists {
    margin-left: 1.5rem;
}

.list-title {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-700);
}

.items-principal-list {
    display: grid;
    gap: 0.25rem;
}

.card-list {
    display: flex;
    width: 200px;
    background-color: var(--gray-100);
    justify-content: space-between;
    border-radius: 8px;
    color: var(--gray-700);
    font-weight: 400;
}

.item-list-select {
    color: var(--color-white);
    background-color: var(--blue-400);
    font-weight: 700;
}

.card-list:hover {
    background-color: var(--gray-200);
    transition-duration: 400ms;
}

.card-list-text, .item-list-number {
    padding: 1rem 0.5rem;
}

.secondary-list__add_new_list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#add-new-card {
    color: var(--gray-700);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--gray-100);
    cursor: pointer;
}