<dialog id="add-new-card__dialog">
    <form id="add-new-card__form">
        <h2 class="add-new-card-title">Adicionar Nova Lista</h2>
        <div class="label-componente">
            <label class="label-component__label" for="list-name">Nome da Lista: </label>
            <input class="label-component__input" id="list-name" type="text">
        </div>
        <div>
            <label class="label-component__label" for="list-description">Descrição: </label>
            <textarea class="label-component__input" id="list-description"></textarea>
        </div>
        <button id="add-new-card__cancel-button" class="button-component button-component__cancel">Cancelar</button>
        <button id="add-new-card__confirm-button" class="button-component button-component__confirm">Confirmar</button>
    </form>
</dialog>