<dialog id="add-new-card-dialog">
    <form>
        <h2 class="add-new-card-title">Adicionar Nova Lista</h2>
        <div class="label-componente">
            <label class="label-component__label" for="list-name">Nome da Lista: </label>
            <input autofocus class="label-component__input" id="list-name" type="text">
        </div>
        <div>
            <label class="label-component__label" for="list-description">Descrição: </label>
            <textarea class="label-component__input" id="list-description"></textarea>
        </div>
        <button class="button-component button-component__cancel">Cancelar</button>
        <button class="button-component button-component__confirm">Confirmar</button>
    </form>
</dialog>